<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="ko">
<link href="/css/bootstrap.min.css" rel="stylesheet">

<head>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- TOAST UI Editor CDN(CSS) -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>게시글 작성</title>
    <style>
        .field-error{
            color: #212529;
            font-weight: normal;
            font-size: 0.875rem;
        }
    </style>
</head>
<header id="header">
    헤더
    <hr>
</header>
<div layout:fragment="content" class="container">
    <br>
    <h5 class="my-3 border-bottom pb-2">게시글 수정</h5>
    <form th:object="${dto}" >
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:value="${dto.title}"   name="title" id="title" class="form-control">
            <div class="titleCheck field-error" >
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <input type="hidden" th:value="${dto.content}" id="ucontent" class="form-control">
            <div id="ueditor"></div>
        </div>
        <input type="hidden" th:value="${dto.getFileIds()}" name="id" id="fileIds" class="form-control">
        <span class="uContentCheck field-error" ></span>

        <div class="mb-3" style="width:200px">
            <label for="hashtag" class="form-label">태그</label>
            <input type="text"  th:value="${dto.hashtag}"  name="hashtag" id="hashtag" class="form-control">
        </div>
        <input type="hidden" th:value="${articleId}" id="articleId">
        <button type="button" onclick="articleUpdate()"  class="btn btn-primary">수정</button>
    </form>
</div>
<footer id="footer">
    푸터
    <hr>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        fileIds = $("#fileIds").val();
    });
    function articleUpdate() {
            if (confirm("수정하시겠습니까?")) {
                const articleId = $('#articleId').val();
                const uContent = ueditor.getHTML();
                const title = $('#title').val();
                const hashtag = $('#hashtag').val();
                $.ajax({
                    type: "PUT",
                    url: "/articles",
                    data: JSON.stringify({"articleId": articleId,
                        "content": uContent,
                        "title": title,
                        "hashtag": hashtag,
                        "fileIds": fileIds}),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                            alert('수정되었습니다.');
                            location.href = "/articles"+"/"+articleId;
                    },
                    error: function (data) {
                        $(data).each(function () {
                            let message = this.responseJSON;
                            if (message.field === "title") {
                                $('.titleCheck').text(message.message);
                            }
                            if (message.field === "content") {
                                $('.uContentCheck').text(message.message);
                            }
                        });
                    }
                });
            }
        }


        const ueditor = new toastui.Editor({
        el: document.querySelector('#ueditor'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '500px',
        initialValue: $('#ucontent').val(),
        events: {
            change: function () {
                console.log(ueditor.getMarkdown());
            }
        },
        hooks: {
            addImageBlobHook: (blob, callback) => {
                // blob : Java Script 파일 객체
                //console.log(blob);

                const formData = new FormData();
                formData.append('file', blob);

                let url = '/files/';
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/files',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function(data) {
                        //console.log('ajax 이미지 업로드 성공');
                        url += data.fileName;
                        fileIds += data.id + ",";
                        // callback : 에디터(마크다운 편집기)에 표시할 텍스트, 뷰어에는 imageUrl 주소에 저장된 사진으로 나옴
                        // 형식 : ![대체 텍스트](주소)
                        callback(url, '사진 대체 텍스트 입력');
                    },
                    error: function(e) {
                        //console.log('ajax 이미지 업로드 실패');
                        //console.log(e.abort([statusText]));

                        callback('image_load_fail', '사진 대체 텍스트 입력');
                    }
                });
            }
        }
    });


    $("#ueditor").blur(function(){
        var uContent = ueditor.getMarkdown();
        if(uContent == "" || uContent.length<5){
            $(".uContentCheck").text("내용을 5자 이상입력해주세요.");
            $(".uContentCheck").css("color", "red");
        }   else{
            $(".uContentCheck").text();
            $(".uContentCheck").css("color", "blue");
        }
    });

    $("#title").blur(function(){
        var title = $("#title").val();
        if(title == "" || title.length<5){
            $(".titleCheck").text("제목을 5자 이상입력해주세요.");
            $(".titleCheck").css("color", "red");
        }   else{
            $(".titleCheck").text();
            $(".titleCheck").css("color", "blue");
        }
    });


</script>
<script src="/js/board.js"></script>
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>

</html>