<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>등록 페이지</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header id="header">
    헤더
    <hr>
</header>
    <main>
        <div layout:fragment="content" class="container">
            <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
            <form th:action="@{/articles/create}" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea name="content" id="content" class="form-control" rows="10"></textarea>
                </div>
                <div class="mb-3" style="width:200px">
                    <label for="hashtag" class="form-label">해시태그</label>
                    <input type="text" name="hashtag" id="hashtag" class="form-control">
                </div>
                <input type="submit" value="저장하기" class="btn btn-primary my-2">
            </form>
        </div>
    </main>

    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>
</body>
</html>