<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header id="header">
    헤더
    <hr>
</header>

<main id="article-main" class="container">
    <table class="table" id="article-table">
        <thead>
        <tr>
            <th class="col-1">번호</th>
            <th class="col-6">제목</th>
            <th class="col-2">해시태그</th>
            <th class="col-1">작성자</th>
            <th class="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="id">1</td>
            <td class="title"><a>첫글</a></td>
            <td class="hashtag">#java</td>
            <td class="user-id">test</td>
            <td class="created-at"><time>2022-10-06</time></td>
        </tr>
        </tbody>
    </table>
    <section>
<article class="col-md-7 col-lg-11" id="article-content">
    <pre><p>안녕 내이름은 브린스 안녕안녕
        <br>
        안녕안녕 하세요 안녕하세요
        <br>
        브린브린 브린스 안녕하세요<br><br></p></pre>
</article>
    </section>
    <hr>
    <div>
        <button type="button" class="btn btn-outline-dark right">수정</button>
        &nbsp;
        &nbsp;
        <button type="button" class="btn btn-outline-dark left-box">삭제</button>
    </div>
    <section>
        <br>
        댓글 작성

    <div>
        <form>
            <div class="input-group" style="width:1000px">
                <label for="exampleTextarea" class="form-label mt-4" hidden>댓글</label>
                <textarea class="form-control" id="exampleTextarea" placeholder="댓글을 입력해주세요.." rows="3"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">작성</button>
                <br>
            </div>
        </form>
        <br>
<ul id="article-comments">
    <li>
        <div>
            <time><small>2022-10-01</small></time>
            <strong>brince</strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur aidpiscino
                Lorem ipsum dolor sit amet
            </p>
        </div>
    </li>
    <li>
        <div>
            <time><small>2022-10-01</small></time>
            <strong>brince</strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscino
            </p>
        </div>
    </li>
</ul>
    </div>
        <div>
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>

</section>


</main>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>
</body>
</html>