<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/board.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header id="header">
    헤더
    <hr>
</header>
<br>
<main id="article-main" class="container">
    <article id="article-content">
        <div class="row">
            <div class="col-12" id="article-header">
                <h4 style="display:inline" class="writer" id="nickname">닉네임</h4>
                <time style="display:inline" id="created-at"> 시간</time>
                <h1>게시글</h1>
                <div style="display:inline" th:each="hashtag : ${article.hashtags()}">
                    <a th:href="@{|/articles/search-hashtag/${hashtag.hashtag}|}">
                <h3  style="display:inline" class="hashtag" id="hashtag" th:text="'#'+${hashtag.hashtag}"> hash</h3>
                    </a>
                </div>
                <div class="buttons">
                        <button type="button" onclick="likeBtn()" id="likeBtn" style="display:inline" th:text="${'추천: '+article.likeCount()}" class="likeBtn btn btn-light"></button>
                        <input type="hidden" th:value="${article.id}" id="articleId">
                </div>
                <div style="display:inline" class="buttons">
                    <a sec:authorize="isAuthenticated()" th:if="${article.userId() != null && #authentication.getName() == article.userId()}"
                    th:href="@{|/articles/post/${articleId}|}">
                        <button type="button"  class="btn btn-light">글 수정</button>
                    </a>
                    <a href="javascript:void(0);" th:data-uri="@{/articles}"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.userId() != null && #authentication.getName() == article.userId() || #authorization.expression('hasRole(''ADMIN'')')}"
                       class="delete">
                        <input type="text" th:value="${articleId}"  hidden style="display:none">
                        <button type="button" class="btn btn-light">글 삭제</button>
                    </a> &nbsp;
                </div>
            </div>


        </div>
        <br>
        <div th:utext="${article.content}">
        </div>
    </article>
    <br>
    <section>
        <hr>
        <a th:href="@{/articles}">
        <button type="button" class="return btn btn-light">돌아가기</button>
        </a>
        <br>
        <p class="comment">댓글</p>
        <div>
            <p class="comment2" sec:authorize="isAnonymous()">로그인 후 댓글을 작성할 수 있습니다.</p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form method="post" >
                <div class="input-group" style="width:auto">
                    <label class="form-label mt-4" hidden>댓글 작성</label>
                    <input type="text"  class="form-control" id="commentContent" name="commentContent" placeholder="댓글을 입력해주세요">
                    <input type="text" hidden th:value="${articleId}" id="articleId">
                    <button type="button" id="commentBtn"  onclick="commentCheck()" class="btn btn-light">작성</button>
                    <div>
                    </div>
                    <br>
                </div>
            </form>
            <p class="field-error commentContentCheck"></p>
            <br>
        </div>
        <div id="commentList"> 댓글</div>

    </section>



</main>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>
<script th:inline="javascript" src="/js/board.js"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>

</html>